.about-us-container {
    width: 100%;
}
.aboutus {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #de9a46;
    height: 10vh;
    width: 100%;
}

.aboutus-title {
    /* background-color: blanchedalmond; */
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        font-size: 1.3rem;

}

.vision-mission {
    background-color: #de9a46;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vh;
}

.aboutus-main {
    padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
}

.vision-mission-paragraph {
    height: fit-content;
    width: 80%;
    font-size: 1.3rem;
}

.Namaste {
    width: auto;
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
    
    .vision-mission-img {
        /* width: 20%;
                                        height: 20%; */
}

.aboutus-lastpage-main {
    display: flex;
    width: 170vh;
    height: 150vh;
    justify-content: space-between;
    flex-direction: row;
}

.aboutus-flex1 {
    height: 50vh;
    width: 30vh;

}

.aboutus-flex2 {
    height: 50vh;
    width: 30vh;

}

.aboutus-flex3 {
    height: 50vh;
    width: 30vh;

}