/* ApplyNowForm.css */

.apply-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 0rem;
}

.section-title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    color: #555;
}

.field-container {
    margin-bottom: 1rem;
    position: relative;
}

.form-field {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;

}

.form-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.radio-group label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.submit-btn:hover {
    background: #0056b3;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.15rem;
        position: absolute;
        top: 100%;
        left: 0
}

/*school sign in form */

.school-signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f1f7fc;
    }
    
    .school-form-container {
        background-color: #ffffff;
        padding: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
    
    }
    
    .form-heading {
        text-align: center;
        font-size: 2rem;
        color: #2c3e50;
        margin-bottom: 20px;
        font-family: 'Arial', sans-serif;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-field-container {
    margin-bottom: 20px;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 12px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #3498db;
}

.submit-button {
    background-color: #3498db;
    color: white;
    padding: 12px;
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2980b9;
}
