body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cyan;
  width: 25%;
  height: 570px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

.fields-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.registration-form-fields {
  padding: .5rem;
  width: 70%;
}

.submit-btn {
  padding: .5rem;
  background-color: cadetblue;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  width: 76%;
  height: 35px;
  margin-top: .3rem;
}

.submit-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.error-div {
  color: red;
  font-size: .7rem;
  align-self: flex-start;
  margin-left: 3rem;
}